<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Create</title>
    <link rel="stylesheet" href="/images/style2.css">
</head>

<body>
    <h1>Create an Account</h1>
    <form action=<%- link %> method="post">
        <fieldset>
            <strong class="info">Username:</strong> <br><input type="text" class="info" name="username"> <br><br>
            <strong class="info">Password:</strong> <br><input type="text" class="info" name="password"> <br><br>
        </fieldset> 
        <br>
        <input type="reset" value="Clear"> <input type="submit" value="Create Account">
    </form>
    <br>
    <a href="/" class="home">HOME PAGE</a>
</body>

</html>