<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Create</title>
    <link rel="stylesheet" href="/images/style4.css">
</head>

<body>
    <h1><%- issue %></h1>
    <div id="redirect">
        <%- redirect %>
    </div>
    <br>
    <a id="home" href="/" onclick="return confirm('Are you sure you want to go back to the home page?\nYou will need to login again.');">HOME PAGE</a>
</body>

</html>