<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Guessing Game</title>
    <link rel="stylesheet" href="/images/style1.css">
</head>

<body>
    <h1>Image Guessing Game</h1>
    <div class="demo-typewriter">
        <span>Test your intuition by randomly guessing which of the four images will appear!</span>
    </div>
    <div id="buttonarea">
        <a href="/login" class="buttons">Login</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="/create" class="buttons">Create an Account</a>
    </div>
</body>

</html>